fastapi[standard]
pyttsx3
audioop-lts
soundfile
numpy
motor
python-dotenv
scipy
pandas
scikit-learn
lightgbm
joblib
google-genai
groq
pyjwt
email-validator
lightgbm
twilio
pytest
pytest-asyncio
httpx
